<div id="home">



    <div class="container scroll-section">
        <h1 style="text-align: center;">I'M A <br> <span style="color: #8752dd;">JUNIOR WEB DEVELOPER</span> <br> BASED IN TURIN, ITALY.</h1>
        <p style="margin-top: 5px; text-align: center;">
          With a background as a Full Stack Web Developer with skills in both frontend and backend.
        </p>
        <div class="btn-container">
          <button type="button" class="btn btn-custom" onclick="location.href='#scopri'">Scopri di più</button>
        </div>
    </div>
      
      <div>
        <span id="scopri" style="height: 100px;"></span>
        <p  class="scopri"xs>
          I love to coding because it is not just a sequence of instructions but <span style="color: #8752dd;">a true form of logical and creative expression</span>, where technical skills merge with my passion for communication and the creation of innovative digital products.
        </p>
      </div>
      
        
      
    
      
      <div id="studies" class="studies">
        <h2 style="margin-bottom: 80px; text-transform: uppercase; text-align: start;"># Who did I study with?</h2>
        <div class="row d-flex">
          <div class="studi col-sm-12 col-md-3">
            <img src="../../../assets/logo epicode.webp" alt="" width="auto">
          </div>
          <div class="studi col-sm-12 col-md-9" style="text-align: start;">
            <p> <span style="color: #dc1b95;">
              <a href="https://epicode.com/it/chi-siamo/" target="_blank" style="color: #dc1b95; text-decoration: none;">EPICODE!</a>
            </span> 
            It' s a European ed-tech company specialized in training and integrating tech talents into the workforce. EPICODE witdh its style and metod has a strong reputation in the industry. Its vision is to create a new generation of tech specialists ready for the challenges of the future.</p>
          </div>
        </div>

        <div id="studies2" style="text-align: center;">
          <img src="../../../assets/certificato epicode.webp" alt="" width="50%" style="margin-top: 40px; text-align: center; border-radius: 8px;">
          <h6 class="mt-3" style="margin-bottom: 50px;">puoi vedere le mie certificazioni qui</h6>
        </div>
      
        <div class="btn-container">
          <button type="button" class="btn btn-custom" onclick="location.href='/bio'">Scopri di più</button>
        </div>

      </div>
      
      <div id="languages" class="languages" style="margin-top: 150px; margin-bottom: 150px;">
        <h2 style="text-transform: uppercase; text-align: start; margin-bottom: 100px;"># The languages and tools I use are</h2>
        <p>For the <span style="color: #8752dd;">frontend</span> I use <span style="color: #8752dd;">HTML</span>, <span style="color: #8752dd;">CSS</span>, and <span style="color: #8752dd;">JavaScript</span> to develop engaging user interfaces, and with <span style="color: #8752dd;">Angular</span>, I build responsive and modular web applications. On the <span style="color: #8752dd;">backend</span>, I work with <span style="color: #8752dd;">Java</span> and <span style="color: #8752dd;">Spring Boot</span> to ensure secure and high-performance applications. For <span style="color: #8752dd;">database</span> management, I utilize <span style="color: #8752dd;">PostgreSQL</span>. This technology stack enables me to create comprehensive <span style="color: #8752dd;">full-stack</span> web solutions, covering everything from design to data management.</p>
      
        <!-- Griglia per le icone -->
        <div class="row" style="text-align: center;">
          <div class="col-2 col-sm-3">
            <img src="../../../assets/html.svg" alt="HTML Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/css.svg" alt="CSS Logo" class="icon" >
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/javascript.svg" alt="JavaScript Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/angular.svg" alt="Angular Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/java.svg" alt="Java Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/postgre.svg" alt="PostgreSQL Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/postman.svg" alt="Postman Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/bootstrap.svg" alt="Bootstrap Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/springboot.svg" alt="Spring Boot Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/typescript.svg" alt="typescript Boot Logo" class="icon">
          </div>
        </div>

        <h3 style="text-transform: uppercase; text-align: start; margin-top: 70px; margin-bottom: 100;">... but I also had the opportunity to get to know</h3>
        <!-- Griglia per le icone -->
        <div class="row" style="text-align: center;">
          <div class="col-2 col-sm-3">
            <img src="../../../assets/canva.svg" alt="canva Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/asana.svg" alt="asana Logo" class="icon" >
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/wordpress.svg" alt="worpress Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/semrush.svg" alt="semrush Logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/figma.svg" alt="figma logo" class="icon">
          </div>
          <div class="col-2 col-sm-3">
            <img src="../../../assets/elementor.svg" alt="elementor logo" class="icon">
          </div>

        </div>

      </div>


      <div id="works" class="works" style="margin-bottom: 150px;">
        <h2 style="text-transform: uppercase; margin-top: 30px; margin-bottom: 100px;"># What I do</h2>

        <p style="margin-bottom: 70px;">
          I create responsive websites that adapt to various devices, whether it's for showcase sites, effective and targeted landing pages, or complex websites with custom solutions. I also offer e-commerce and business management development services.        </p>

        <p>
          A <span class="portfolio" style="color: #8752dd; margin-bottom: 100px;">portfolio</span> of my projects and works
        </p>
        
        <div class="progetti projects-wrapper row flex-nowrap" style="margin-bottom: 50px;">
          <div class="col-12 col-md-3 project">
            <h4>EG. Sito vetrina</h4>
            
       
              <div class="slides">
                <img src="../../../assets/eg/1.png" style="width: 100%;" alt="Project Image 1">
              </div>
        
            <div class="tags">
              <span class="badge bg-primary">ANGULAR</span>
              <span class="badge bg-secondary">JAVA</span>
              <span class="badge bg-success">JavaScript</span>
            </div>
          </div>

          <div class="col-12 col-md-3 project">
            <h4>Donato</h4>
            <div>
              <img src="../../../assets/donato/3.png" width="100%" alt="Project Image 1">
            </div>
            <div class="tags">
              <span class="badge bg-primary">ANGULAR</span>
              <span class="badge bg-secondary">JAVA</span>
              <span class="badge bg-success">JavaScript</span>
            </div>
          </div>


          <div class="col-12 col-md-3 project">
            <h4>Web-app Matrimonio</h4>
            <div>
              <img src="../../../assets/matrimonio/6.png" style="width: 100%;" alt="Project Image 1">
            </div>
            <div class="tags">
              <span class="badge bg-primary">ANGULAR</span>
              <span class="badge bg-secondary">JAVA</span>
              <span class="badge bg-success">JavaScript</span>
            </div>
          </div>


          <div class="col-12 col-md-3 project">
            <h4>Task app</h4>
            <div>
              <img src="../../../assets/todo/all.png" style="width: 100%;" alt="Project Image 1">
            </div>
            <div class="tags">
              <span class="badge bg-primary">ANGULAR</span>
              <span class="badge bg-secondary">JAVA</span>
              <span class="badge bg-success">JavaScript</span>
            </div>
          </div>


        
      
        </div>


        <!-- Pulsante See all projects -->
        <div class="d-flex justify-content-center mt-4">
          <button type="button" class="btn btn-custom" onclick="location.href='/works'">See all projects</button>
        </div>
      </div>
</div>