<!-- footer.component.html -->
<div>
  <footer class="mobile-footer" style="width: 100%;">
      <nav>
        <a routerLink="/works" routerLinkActive="active" class="menu-item" id="works-link">
          <span><strong>Works</strong></span>
        </a>
        <a routerLink="/contacts" routerLinkActive="active" class="menu-item" id="contact-link">
          <span><strong>Contact</strong></span>
        </a>
        <a routerLink="/bio" routerLinkActive="active" class="menu-item" id="about-link">
          <span><strong>About</strong></span>
        </a>
        <a routerLink="/cv" routerLinkActive="active" class="menu-item" id="home-link">
          <span><strong>Download cv</strong></span>
        </a>
      </nav>
    </footer>
</div>
  