<div id="works" class="">

    <!-- Title Section -->
    <div class="d-flex justify-content-start mb-4">
        <h1 class="title">Portfolio</h1>
    </div>

    <p class="text-start">Qui troverete una selezione di lavori che spaziano tra esperienze accademiche e progetti realizzati in contesti lavorativi. </p>

        <p class="text-start mb-4">Questa raccolta rappresenta i miei primi passi nel mondo dello sviluppo e del design ed ognuno di questi progetti rappresenta una tappa del mio percorso di crescita professionale.</p>
        
        <!-- <a href="#enrico">Enrico Gasparri</a>
        <a href="#matrimonio">Matrimonio</a>
        <a href="#todo">Task app</a>
        <a href="#donato">Donato</a>
         -->


    <!-- enrico gasparri -->
<div id="enrico" class="projects-menu">
    <div class="project-item">
        <h2>// Enrico Gasparri</h2>
        <span class="badge badge-custom">Sito vetrina</span>
        <p>Questo sito è stato realizzato per un pittore con lo scopo di creare un sito web vetrina che mettesse in risalto la sua vita e i suoi quadri. È stato progettato per essere semplice, intuitivo e colorato, con particolare attenzione all'estetica e alla facilità di navigazione.</p>
        <div class="badge-group">
            <span class="badge badge-tech css">CSS</span>
            <span class="badge badge-tech angular">Angular</span>
            <span class="badge badge-tech javascript">JavaScript</span>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/eg/1.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/eg/2.png" alt="" width="100%">
            </div>

        </div>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6" style="justify-content: center;">
                <p>
                    La sfida principale incontrata è stata la gestione delle immagini. Ogni immagine aveva proporzioni diverse, il che rendeva complesso mantenere un layout coerente e visivamente armonioso. Per superare questo problema, è stato fondamentale l'utilizzo di Canva, un potente strumento che ha permesso di modificare e adattare le immagini alle dimensioni e proporzioni necessarie, garantendo un risultato ottimale.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/7.png" alt="" width="60%">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/4.png" alt="" width="60%">
            </div>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/3.png" alt="" width="100%">
            </div>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;  justify-content: center; align-items: center;">
            <p style="text-align: start;">Il sito include anche una serie di funzionalità pensate per migliorare l'esperienza utente.</p>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: start;">
                <ul class="custom-list">
                   <li>Uno spinner di caricamento garantisce che l'utente possa visualizzare lo stato di caricamento.</li>
                   <li>Un form di contatto intuitivo e facile da usare, che permette agli utenti di entrare direttamente in contatto.</li>
                   <li>Delle slideshow per alleggereri il carico visivio date le numerose foto.</li>
                   <li>Alcune animazioni per rendere l'interazione con il sito più dinamica e coinvolgente.</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/10.png" alt="" width="100%">
            </div>
        </div>

        <p style="margin-bottom: 20px;">Un altro aspetto cruciale del progetto è stato rendere il sito completamente responsive, ovvero in grado di adattarsi perfettamente a qualsiasi dispositivo, sia desktop che mobile. Ciò garantisce una navigazione fluida e un'esperienza utente ottimale, indipendentemente dal dispositivo utilizzato per accedere al sito.</p>

        <div>
            <div class="row d-flex" style="margin-bottom: 60px;">
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/15.png" alt="" width="70%">
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/5.png" alt="" width="70%">
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/caricamento.png" alt="" width="70%">
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/16.png" alt="" width="70%">
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/8.png" alt="" width="70%">
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 mb-3" style="text-align: center;">
                    <img src="../../../assets/eg/9.png" alt="" width="70%">
                </div>
            </div>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;  justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="justify-content: start;">
                <p>Data la centralità della vita e delle opere dell'artista nel suo percorso professionale, è stata creata una pagina specificamente dedicata ai dipinti. Questa sezione permette ai visitatori di esplorare i suoi lavori in modo dettagliato, con immagini e informazioni essenziai.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/12.png" alt="" width="100%">
            </div>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/eg/11.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/eg/17.png" alt="" width="100%">
            </div>

        </div>

        <div class="row d-flex" style="margin-bottom: 100px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-4 col-lg-6 mb-3">
                <p>Ovviamente anche nella sua versione responsive</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/13.png" style="text-align: center;" alt="" width="50%">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 mb-3" style="text-align: center;">
                <img src="../../../assets/eg/14.png" style="text-align: center;" alt="" width="50%">
            </div>

        </div>



        <div class="d-flex justify-content-center align-items-center mt-3" style="margin-bottom: 100px;">
            <div class="text-center row d-flex">
                <div class="col-6">
                    <a href="https://portfolioenricogasparri.web.app" target="_blank" class="btn btn-custom-static">Vedi su GitHub</a>
                </div>
                <div class="col-6">
                    <a href="https://github.com/project-link" target="_blank" class="btn btn-custom-git">Visita il sito</a>
                </div>
            </div>
        </div>

        


    </div>

    <!-- matrimonio -->
    <div id="matrimonio" class="project-item">
        <h2>// Wedding D+G</h2>
        <span class="badge badge-custom">Web app</span>
        <p>
           

        </p>
        <div class="badge-group">
            <span class="badge badge-tech angular">Angular</span>
            <span class="badge badge-tech java">Java</span>
            <span class="badge badge-tech mysql">PostgreSQL</span>
            
        </div>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6" style="justify-content: start;">
                <p>
                    La web app è stata sviluppata utilizzando tecnologie come Angular per la parte frontend, Java per il backend e PostgreSQL come database 
                    per gestire i dati degli invitati. 
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
                <img src="../../../assets/matrimonio/1.png" alt="" width="100%">
            </div>

        </div>

        <p>
            In base al ruolo dell'utente memorizzato nel database, la webapp mostra contenuti personalizzati e pertinenti. Gli amministratori possono accedere a funzionalità
            come la gestione degli utenti e l'aggiunta di contenuti, mentre gli utenti possono compilare le proprie informazioni ed hanno accesso a contenuti informativi.
        </p>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/8.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/9.png" alt="" width="100%">
            </div>

        </div>


            
        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <p>
                    Tema personalizzato: a differenza dei classici temi dark/light, è stato implementato un tema con tonalità alternative al nero, 
                    richiesto specificamente per mantenere un'atmosfera allegra e in linea con la celebrazione di un matrimonio.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                <video width="35%" height="auto" loop autoplay muted>
                    <source src="assets/darkLight.mp4" type="video/mp4">
                    Il tuo browser non supporta il video.
                </video>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio.</p>


        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-4 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/11.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/13.png" alt="" width="100%">
            </div>

        </div>


        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-4 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/10.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/12.png" alt="" width="100%">
            </div>

        </div>

        <p style="margin-bottom: 20px;">Un admin può aggiungere un invitato </p>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/matrimonio/7.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <video width="35%" loop autoplay muted>
                    <source src="../../../assets/aggiungi.mp4" type="video/mp4">
                        Il tuo browser non supporta il video.
                </video>
            </div>

        </div>
                      

        <p style="margin-bottom: 20px; margin-top: 20px;">e filtrare la lista degli invitati </p>

        <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <img src="../../../assets/matrimonio/14.png" alt="" width="100%">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <video width="35%" height="auto" loop autoplay muted>
                        <source src="../../../assets/filtr.mp4" type="video/mp4">
                        Il tuo browser non supporta il video.
                    </video>
                </div>
            
            </div>

            <p style="margin-bottom: 20px;">Un invitato può fornire le proprie informazioni </p>

            <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <img src="../../../assets/matrimonio/15.png" alt="" width="100%">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                    <video width="35%" height="auto" loop autoplay muted>
                        <source src="../../../assets/info.mp4" type="video/mp4">
                        Il tuo browser non supporta il video.
                    </video>
                </div>
            </div>


            <div class="row d-flex" style="margin-bottom: 60px; justify-content: center; align-items: center;">
                <div class="col-sm-12 row-col-md-6 col-lg-6 mb-3">
                    <p>È attivo anche un sistema di messaggistica disponibile per tutti gli invitati</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="../../../assets/matrimonio/5.png" alt="" width="100%">
                </div>
            </div>

            <div class="row d-flex" style="margin-bottom: 100px;  justify-content: center; align-items: center;">
                <div class="col-sm-12 row-col-md-6 col-lg-6 mb-3">
                    <p>È in fase di implementazione la funzionalità visibile solo da admin per aggiungere una nuova raccomandazione</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="../../../assets/matrimonio/16.png" alt="" width="100%">
                </div>
            </div>

         



            <div class="d-flex justify-content-center align-items-center mt-3" style="margin-bottom: 100px;">
                <div class="text-center row d-flex">
                    <div class="col-6">
                        <a href="https://github.com/project-link" target="_blank" class="btn btn-custom-static">Vedi su GitHub</a>
                    </div>
                    <div class="col-6">
                        <a href="https://matridg.com" target="_blank" class="btn btn-custom-git">Visita il sito</a>
                    </div>
                </div>
            </div>


    </div>

    <!-- Project 3 -->
    <div id="todo" class="project-item">
        <h1>Todo List</h1>
        <span class="badge badge-custom">Project</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio.</p>
        <div class="badge-group">
            <span class="badge badge-tech angular">Angular</span>
            <span class="badge badge-tech css">CSS</span>
            <span class="badge badge-tech javascript">JavaScript</span>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;">
            <div class="col-sm-12 col-md-6 col-lg-6">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam architecto reiciendis ducimus similique dignissimos, id doloribus voluptates dolores nemo consequuntur quaerat explicabo expedita! Autem eligendi accusamus, nobis consequuntur aliquam nesciunt?</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="../../../assets/todo/all.png" alt="" width="100%">
            </div>

        </div>


        <div class="row d-flex" style="margin-bottom: 60px;">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                <img src="../../../assets/todo/done.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 row-col-md-4 col-lg-4 mb-3">
                <img src="../../../assets/todo/todo.png" alt="" width="100%">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
                <img src="../../../assets/todo/user.png" alt="" width="100%">
            </div>

        </div>

        <div class="row d-flex" style="margin-bottom: 60px;">
            <h3>Alcune funzionalità</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas molestiae obcaecati expedita! Nisi, enim tempora rem veritatis repudiandae deserunt eaque, delectus esse minus voluptatibus, non modi repellendus at eveniet!</p>
            
            <div class="col-sm-12 col-md-6 col-lg-6">
               <p>Quando si flagga il campo Completed e viceversa, viene visualizzato un btn per confermare. Al click il task viene spostato.</p>
            </div>
            <div class="col-sm-12 row-col-md-6 col-lg-6 mb-3" style="margin-bottom: 30px;">
                <img src="../../../assets/todo/sposta.png" alt="" width="100%">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                <img src="../../../assets/todo/bordi.png" alt="" width="80%">
             </div>
             <div class="col-sm-12 row-col-md-6 col-lg-6">
                <p>Quando tutti i task di uno user sono flaggati il bordo della card si colora di verde.</p>
             </div>
           

        </div>
        
        <div class="d-flex justify-content-center align-items-center mt-3" style="margin-bottom: 100px;">
            <div class="text-center">
                <a href="https://github.com/project-link" class="btn btn-custom-static">Vedi su GitHub</a>
            </div>
        </div>



    </div>
    </div>

    <!-- Project 4 -->
    <div id="donato" class="project-item" style="margin-bottom: 60px;">
        <h2>DonaTo</h2>
        <span class="badge badge-custom">Webapp</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio.</p>
        <div class="badge-group">
            <span class="badge badge-tech python">Python</span>
            <span class="badge badge-tech java">Java</span>
            <span class="badge badge-tech mysql">MySQL</span>
        </div>

    

        <p style="margin-bottom: 50px;">Lore Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae corporis repellat molestiae quae numquam natus quis dicta ullam enim, hic molestias architecto dolore maxime libero vitae labore? Magnam, possimus fugiat!m ipsum dolor sit amet consectetur adipisicing elit. Magnam architecto reiciendis ducimus similique dignissimos, id doloribus voluptates dolores nemo consequuntur quaerat explicabo expedita! Autem eligendi accusamus, nobis consequuntur aliquam nesciunt?</p>


        <div class="row d-flex" style="margin-bottom: 60px;">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam architecto reiciendis ducimus similique dignissimos, id doloribus voluptates dolores nemo consequuntur quaerat explicabo expedita! Autem eligendi accusamus, nobis consequuntur aliquam nesciunt?</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-3" style="text-align: center;">
                <img src="../../../assets/donato/1.png" alt="" width="35%">
            </div>
        </div>

        <div class="row d-flex" style="margin-bottom: 60px;">
            <p>Guarda i video di presentazione e scrivimi se sei interessato al progetto</p>
            <div id="videoCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="video-container">
                            <video id="video1" width="100%" height="auto" loop muted controls>
                                <source src="../../../assets/donato/1.mp4" type="video/mp4">
                                Il tuo browser non supporta il video.
                            </video>
                            <button class="play-pause" onclick="togglePlayPause('video1')">Play</button>
                            <p class="text-center">Parte 1</p>
                        </div>
                        
                        
                    </div>
                    <div class="carousel-item">
                        <div class="video-container">
                            <video id="video2" width="100%" height="auto" loop muted controls>
                                <source src="../../../assets/donato/2.mp4" type="video/mp4">
                                Il tuo browser non supporta il video.
                            </video>
                            <button class="play-pause" onclick="togglePlayPause('video1')">Play</button>
                            <p class="text-center">Parte 2</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        
        
            <button type="button" class="btn btn-custom" style="margin-top: 30px;" onclick="location.href='/contacts'">Contattami</button>
        </div>
        

        
    </div>
</div>

