/* app.component.scss */
.scroll-to-top {
    position: fixed;
    bottom: 80px; /* Spazio dal basso */
    right: 20px; /* Spazio dalla destra */
    background-color: #000; /* Colore di sfondo */
    color: #04E762; /* Colore del testo/icone */
    border: 1 solid ;
    border-color: #04E762;
    border-radius: 50%;
    width: 50px; /* Dimensione del pulsante */
    height: 50px; /* Dimensione del pulsante */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px; /* Dimensione dell'icona */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .scroll-to-top.visible {
    opacity: 1; /* Mostra il pulsante */
  }
  

  .theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--border-color); /* Cambia il colore del bordo in base al tema */
    border-radius: 5px; /* Opzionale: aggiunge angoli arrotondati */
    padding: 5px; /* Aggiunge spazio interno per evitare che il bordo tocchi direttamente le icone */
    transition: border-color 0.3s; /* Aggiunge una transizione per il colore del bordo */
    position: fixed; /* Posizione fissa */
    top: 120px; /* Spazio dal bordo superiore */
    right: 15px; /* Spazio dal bordo destro */
    z-index: 1000; /* Assicura che il toggle sia sopra gli altri elementi */
}

.theme-toggle .toggle-btn {
    width: 40px;
    height: 20px;
    background-color: var(--border-color);
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
    transition: background-color 0.3s;
}

.theme-toggle .toggle-btn::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.theme-toggle .toggle-btn.dark::before {
    transform: translateX(20px);
}

.theme-toggle i.sun {
    color: white;
}

.theme-toggle i.moon {
    color: black;
}

/* Nascondi la sidebar su mobile */
@media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .mobile-footer {
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #ddd;
      padding: 10px 0;
      z-index: 1000;
  
      nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
  
      a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
      }
    }
  
    .theme-toggle {
      top: 80px; /* 
      z-index: 1000; /* Assicura che il toggle sia sopra gli altri elementi */
  }
  }

  
  