<div id="overlay" class="overlay"></div>

<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">
    <img src="../../../assets/foto dalla mura-min.jpg" alt="Logo" width="100%" style="border-radius: 4px;">
  </div>
  <div class="menu">

      <li><a routerLink="/works">Portfolio</a></li>
      <li><a routerLink="/bio">Su di me</a></li>
      <li><a routerLink="/contacts">Contatti</a></li>
      <li><a routerLink="/cv">Vedi e scarica CV</a></li>
  </div>

</div>

<!-- Pulsante Esplora -->
<div id="explore-btn" class="explore-btn">
  <button type="button" class="btn btn-custom">Explore</button>
</div>
