<div id="overlay" class="overlay"></div>

<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">
    <img src="../../../assets/foto dalla mura-min.jpg" alt="Logo" width="100%" style="border-radius: 4px;">
  </div>

  <ul class="menu">
    <li><a routerLink="/works">Portfolio</a></li>
    <li><a routerLink="/bio">About me</a></li>
    <li><a routerLink="/contacts">Contacts</a></li>
    <li><a routerLink="/cv">Download CV</a></li>
  </ul>
</div>

<!-- Pulsante Esplora -->
<div id="explore-btn" class="explore-btn">
  <button type="button" class="btn btn-custom">Explore</button>
</div>
