<div>
    <!-- About Me Section -->
    <div class="d-flex">
        <h1 class="about" style="color: #8752dd; text-align: start;">About Me</h1>
    </div>
    
    <section id="biography" class="my-5">
        <h2 class="section-title">Biography</h2>
        <p>
            Ciao! 👋 Sono Massimiliano, un creativo curioso.
            Ho sempre avuto un forte <span style="color: #8752dd;">interesse per le discipline umanistiche</span>, che mi hanno portato a sviluppare una mente aperta e critica. Le mie esperienze di vita, arricchite dal volontariato e dai viaggi, mi hanno dato l'opportunità di crescere e maturare in contesti diversi.
        </p>
        <p>
            A Torino, dove vivo dal 2016, ho intrapreso un percorso nel <span style="color: #8752dd;">marketing e comunicazione</span>, che mi ha permesso di affinare le mie capacità espressive e strategiche.
                
            Circa un anno fa, ho deciso di esplorare il mondo dello <span style="color: #8752dd;">sviluppo web</span>, un campo che mi affascina per la sua capacità di unire logica e creatività. Ogni giorno scopro qualcosa di nuovo, e questo mi motiva a continuare a crescere e sperimentare.
        </p>
    </section>


    <!-- Studies Section -->
    <section id="studies" class="my-5" style="margin-top: 40px;">
        <h2 class="section-title">Formazione</h2>

        <div>
            <p>
                Il mio percorso accademico ha avuto un orientamento profondamente umanistico, partendo dal liceo classico e proseguendo con due lauree in Scienze Politiche e Relazioni Internazionali presso l'Università di Torino e in Comunicazione Pubblica e Politica presso l'Università di Torino. Questi studi mi hanno fornito una solida base per <span style="color: #8752dd;">comprendere le dinamiche sociali e culturali</span>, sviluppando al contempo <span style="color: #8752dd;">una forte capacità analitica e critica</span> che applico ancora oggi nel mio lavoro.
                </p>
                
                <p>
                Dopo l'università, la mia passione per la comunicazione mi ha portato a specializzarmi in Marketing presso la 24 Ore Business School. Con questo master mi sono avvicinato al marketing, di cui ho appreso teorie, dinamiche e metodologie. Ho scoperto anche che <span style="color: #8752dd;">molte delle logiche e degli strumenti del marketing digitale si intersecano con l'attività di programmazione</span>, il che è un vantaggio significativo! </p>
                
                <p>
                Circa un anno fa, spinto dalla curiosità e dal desiderio di nuove sfide, ho deciso di immergermi nel mondo dello sviluppo web. Ho scelto Epicode, una rinomata scuola di formazione tecnica europea, dove ho completato il corso <span style="color: #8752dd;">Full Stack Web Developer</span> della durata di 6 mesi a tempo pieno. Epicode non solo mi ha fornito le conoscenze tecniche necessarie per diventare uno sviluppatore web, ma mi ha anche insegnato l'importanza della creatività nella risoluzione dei problemi e nella creazione di soluzioni innovative.
                </p>
        </div>


       
    
        <!-- Marketing Skills -->
        <div class="skill-category">
            <h2 class="section-title" style="margin-top: 100px;">Skills</h2>
            <h3>Marketing Skills</h3>
            <ul>
                <li><strong><span style="color:#8752dd;">WordPress:</span></strong> Competenza nella creazione e gestione di siti WordPress, inclusa la personalizzazione dei temi e l'integrazione dei plugin.</li>
                <li><strong><span style="color: #8752dd;">Strumenti Google:</span></strong> Competenza nell'uso di Google Analytics, Google Ads e altri strumenti di marketing per analizzare e ottimizzare le prestazioni.</li>
                <li><strong><span style="color: #8752dd;">SEO:</span></strong> Esperto in tecniche di ottimizzazione dei motori di ricerca per migliorare la visibilità del sito Web.</li>
                <li><strong><span style="color: #8752dd;">Copywriting:</span></strong> Capacità di creare testi accattivanti ed efficaci per vari materiali di marketing digitale.</li>
            </ul>
        </div>
        
        <!-- Coding Skills -->
        <div class="skill-category">
            <h3>Coding Skills</h3>
            <ul>
                <li><strong><span style="color: #8752dd;">HTML:</span></strong> Competenza in HTML per la strutturazione di contenuti web.</li>
                <li><strong><span style="color: #8752dd;">CSS:</span></strong> Competenza in CSS per lo styling e la progettazione del layout.</li>
                <li><strong><span style="color: #8752dd;">JavaScript:</span></strong> Competenza nell'uso di JavaScript per creare applicazioni web interattive.</li>
                <li><strong><span style="color: #8752dd;">Angular:</span></strong> Competenza in Angular per la creazione di applicazioni dinamiche a pagina singola.</li>
                <li><strong><span style="color: #8752dd;">Java:</span></strong> Competenza in Java per lo sviluppo lato server.</li>
                <li><strong><span style="color: #8752dd;">Spring Boot:</span></strong>Compenteza in Spring Boot per la creazione di applicazioni di livello aziendale.</li>
                <li><strong><span style="color: #8752dd;">SQL e PostgreSQL:</span></strong>Competenza nell'uso di SQL e PostgreSQL per la gestione e le query del database.</li>
            </ul>
        </div>

        <!-- Project Management & Design Tools -->
        <div class="skill-category">
            <h3>Project Management & Design Tools</h3>
            <ul>
                <li><strong style="color: #8752dd;"><span>Asana:</span></strong> Conoscenza di di Asana per la gestione dei progetti e la collaborazione di gruppo.</li>
                <li><strong style="color: #8752dd;"><span>Canva:</span></strong> Esperto in Canva per la progettazione di grafiche accattivanti e contenuti visivi.</li>
                <li><strong style="color: #8752dd;"><span>Figma:</span></strong> Conoscenza di Figma per la progettazione e la prototipazione UI/UX.</li>
            </ul>
        </div>

        <!-- Certifications -->
        <div id="certifications" style="margin-top: 100px;" class="certifications">
            <h3>Certificazioni</h3>
            <div class="row">
                <!-- Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front1.jpg" class="card-img-top" alt="Certification 1" width="100%">
              
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front2.jpg" class="card-img-top" alt="Certification 1" width="100%">
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front3.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front4.png" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front5.pg.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front7.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front8.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front9.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/backend1.webp" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <div class="ccol-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/backend2.webp" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend3.webp" class="card-img-top" alt="Certification 1" width="100%">
                   
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend4.webp" class="card-img-top" alt="Certification 1" width="100%">
                
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend5.webp" class="card-img-top" alt="Certification 1" width="100%">
                
                </div>
            </div>
                </div>
            </div>
    </section>


</div>
