<div>
    <!-- About Me Section -->
    <div class="d-flex">
        <h1 class="about" style="color: #8752dd; text-align: start;">About Me</h1>
    </div>
    
    <section id="biography" class="my-5">
        <h2 class="section-title">Biography</h2>
        <p>
            Hi there! 👋 I'm Massimiliano, a curious creative with a passionate soul.
            I've always had a strong <span style="color: #8752dd;">interest in the humanities</span>, which has led me to develop an open and critical mind. My life experiences, enriched by volunteer work and travel, have given me the opportunity to grow and mature in different contexts.
        </p>
        <p>
            In Turin, where I've been living since 2016, I've embarked on a journey in <span style="color: #8752dd;">marketing and communication</span>, which has allowed me to refine my expressive and strategic skills.

            
            About a year ago, I decided to explore the world of <span style="color: #8752dd;">web development</span>, a field that fascinates me for its ability to combine logic and creativity. Every day, I discover something new, and this motivates me to continue growing and experimenting.
        </p>
    </section>


    <!-- Studies Section -->
    <section id="studies" class="my-5" style="margin-top: 40px;">
        <h2 class="section-title">Education</h2>

        <div>
            <p>
                My academic journey had a deeply humanistic focus, starting with classical high school and then pursuing two university degrees in Political Science and International Relations at the University of Turin, and in Public and Political Communication at the University of Turin. These studies provided me with a solid foundation to <span style="color: #8752dd;">understand social and cultural dynamics</span>, while also developing <span style="color: #8752dd;">a strong analytical and critical ability</span> that I still apply in my work today.
            </p>
            
            <p>
                After university, my passion for communication led me to specialize in Marketing at the 24 Ore Business School. This program opened the doors to marketing, where I learned about theory, dynamics, and methodologies. In the digital marketing <span style="color: #8752dd;">many of the logics and tools intersect with developing work</span>, which is a significant advantage!
            </p>
            
            <p>
                About a year ago, driven by curiosity and a desire for new challenges, I decided to dive into the world of coding. I chose Epicode, a renowned European tech training school, where I completed the <span style="color: #8752dd;">Full Stack Web Developer</span> course 6 months full time. Epicode not only provided me with the technical knowledge needed to become a web developer but also taught me the importance of creativity in problem-solving and creating innovative solutions. 
            </p>
            <p>
                Thanks to this course, I have learned how to combine my marketing experience with new technical skills in developing, creating projects that not only work well but are also aesthetically pleasing and user-centric.

            </p>
            
        </div>


       
    
        <!-- Marketing Skills -->
        <div class="skill-category">
            <h2 class="section-title" style="margin-top: 100px;">Skills</h2>
            <h3>Marketing Skills</h3>
            <ul>
                <li><strong><span style="color:#8752dd;">WordPress:</span></strong> Expertise in creating and managing WordPress sites, including theme customization and plugin integration.</li>
                <li><strong><span style="color: #8752dd;">Google Tools:</span></strong> Proficient in using Google Analytics, Google Ads, and other Google marketing tools to analyze and optimize performance.</li>
                <li><strong><span style="color: #8752dd;">SEO:</span></strong> Skilled in Search Engine Optimization techniques to enhance website visibility and search rankings.</li>
                <li><strong><span style="color: #8752dd;">Copywriting:</span></strong> Ability to craft compelling and effective copy for various digital marketing materials.</li>
            </ul>
        </div>
        
        <!-- Coding Skills -->
        <div class="skill-category">
            <h3>Coding Skills</h3>
            <ul>
                <li><strong><span style="color: #8752dd;">HTML:</span></strong> Strong understanding of HTML for structuring web content.</li>
                <li><strong><span style="color: #8752dd;">CSS:</span></strong> Proficient in CSS for styling and layout design.</li>
                <li><strong><span style="color: #8752dd;">JavaScript:</span></strong> Experience in using JavaScript to create interactive web applications.</li>
                <li><strong><span style="color: #8752dd;">Angular:</span></strong> Knowledgeable in Angular for building dynamic single-page applications.</li>
                <li><strong><span style="color: #8752dd;">Java:</span></strong> Familiar with Java for server-side development.</li>
                <li><strong><span style="color: #8752dd;">Spring Boot:</span></strong> Experience with Spring Boot for creating enterprise-level applications.</li>
                <li><strong><span style="color: #8752dd;">SQL & PostgreSQL:</span></strong> Proficient in using SQL and PostgreSQL for database management and queries.</li>
            </ul>
        </div>

        <!-- Project Management & Design Tools -->
        <div class="skill-category">
            <h3>Project Management & Design Tools</h3>
            <ul>
                <li><strong style="color: #8752dd;"><span>Asana:</span></strong> Experienced in using Asana for project management and team collaboration.</li>
                <li><strong style="color: #8752dd;"><span>Canva:</span></strong> Proficient in Canva for designing engaging graphics and visual content.</li>
                <li><strong style="color: #8752dd;"><span>Figma:</span></strong> Skilled in Figma for UI/UX design and prototyping.</li>
            </ul>
        </div>

        <!-- Certifications -->
        <div id="certifications" style="margin-top: 100px;" class="certifications">
            <h3>Certifications</h3>
            <div class="row">
                <!-- Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front1.jpg" class="card-img-top" alt="Certification 1" width="100%">
              
                    </div>
                </div>
                <!-- Add more certification items here -->
                <!-- Example Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front2.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                  <!-- Example Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front3.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <!-- Example Certification Item -->
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front4.png" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                <!-- Example Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front5.pg.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                <!-- Example Certification Item -->
                <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front7.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <!-- Example Certification Item -->
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front8.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <!-- Example Certification Item -->
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/front9.jpg" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <!-- Example Certification Item -->
                 <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/backend1.webp" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
                 <!-- Example Certification Item -->
                 <div class="ccol-sm-4 col-md-3 col-lg-3 mb-3">
                    <div class="card">
                        <img src="../../../assets/certificazioni/backend2.webp" class="card-img-top" alt="Certification 1" width="100%">
                       
                    </div>
                </div>
            <!-- Example Certification Item -->
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend3.webp" class="card-img-top" alt="Certification 1" width="100%">
                   
                </div>
            </div>
            <!-- Example Certification Item -->
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend4.webp" class="card-img-top" alt="Certification 1" width="100%">
                
                </div>
            </div>
                <!-- Example Certification Item -->
            <div class="col-sm-4 col-md-3 col-lg-3 mb-3">
                <div class="card">
                    <img src="../../../assets/certificazioni/backend5.webp" class="card-img-top" alt="Certification 1" width="100%">
                
                </div>
            </div>
                </div>
            </div>
    </section>


</div>
