/* Navbar */
.navbar {
  background-color: var(--navbar-background-color); /* Usa la variabile per il colore del tema */
  padding: 0.5px;
  position: fixed; /* Fissa la navbar in alto */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Aggiungi uno spazio superiore per il contenuto della pagina per evitare che venga nascosto dalla navbar fissa */
body {
  padding-top: 4rem; /* Regola l'altezza in base all'altezza della navbar */
}

.navbar-brand img {
  width: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra gli elementi della navbar */
  flex-grow: 1; /* Permette alla navbar di espandersi */
}

.navbar-nav .nav-link {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 20px; /* Spazio tra le icone (aumentato) */
}

/* Pulsante Contacts */
.btn-custom-static {
  font-size: 10px;
  color: #04E762;
  background-color: transparent;
  border: 2px solid #04E762;
}

.btn-custom-static:hover {
  background-color: #04E762; /* Colore di sfondo al passaggio del mouse */
  color: #fff; /* Colore del testo al passaggio del mouse */
}

/* Media query per dispositivi mobili */
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center; /* Mantiene gli elementi centrati */
    width: 100%; /* Occupare tutta la larghezza */
  }

  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Riduce la dimensione del testo */
    margin: 0 10px; /* Riduce il margine tra le icone */
  }

  .btn-custom-static {
    padding: 8px 15px; /* Riduce il padding per il pulsante */
    font-size: 0.8rem; /* Riduce la dimensione del testo del pulsante */
  }
}

/* Media query per tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between; /* Distribuisce gli elementi con spazio tra di loro */
    width: 50%;
  }

  .navbar-nav .nav-link {
    font-size: 1.4rem;
    margin: 0 15px; /* Spazio tra le icone */
  }

  .btn-custom-static {
    margin-left: 10px;
  }

  .navbar-brand img {
    width: 50px; /* Riduce la larghezza del logo sui tablet */
  }
}
