<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Navbar content -->
    <div class="d-flex justify-content-between align-items-center w-100">
          <!-- Logo a sinistra -->
    <a class="navbar-brand" href="/home">
      <img src="../../../assets/logomdm.svg" alt="Logo" style="width: 70px;">
    </a>
      <!-- Icone LinkedIn e GitHub al centro -->
      <div class="d-flex justify-content-center flex-grow-1">
        <a class="nav-link" href="https://github.com/MassimilianoDallaMura?tab=repositories" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a class="nav-link mx-4" href="https://www.linkedin.com/in/massimiliano-dalla-mura-87b874138/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <!-- Pulsante Contacts a destra -->
      <button class="btn btn-custom">
        <a href="/contacts" class="text-white text-decoration-none">Contacts</a>
      </button>
    </div>
  </div>
</nav>