<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Navbar content -->
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- Logo a sinistra -->
      <a class="navbar-brand" href="/home">
        <img src="../../../assets/logomdm.svg" alt="Logo">
      </a>
      <!-- Icone LinkedIn e GitHub al centro -->
      <div class="navbar-nav d-flex flex-grow-1 justify-content-center">
        <a class="nav-link" href="https://github.com/MassimilianoDallaMura?tab=repositories" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a class="nav-link mx-4" href="https://www.linkedin.com/in/massimiliano-dalla-mura-87b874138/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <!-- Pulsante Contacts a destra -->
      <button class="btn btn-custom-static">
        <a href="/contacts" class="text-decoration-none" style="color: #04E762;">Contacts</a>
      </button>
    </div>
  </div>
</nav>
