<div id="contacts">
    <div>
        <!-- Sezione Contatti -->
        <div class="d-flex">
            <h1 class="contact-title" style="color: #8752dd; text-align: start;">Contatti</h1>
        </div>
        
        <section id="contact-details" class="my-5">
            <p>
                Sono alla ricerca di nuove opportunità come <strong>Web Developer Full Stack</strong>. Sono aperto sia a ruoli nel <strong>backend</strong>, dove posso applicare la mia passione per la logica e l'ottimizzazione, sia nel <strong>frontend</strong>, dove poter esprimere la mia creatività estetica. <br> In sede o da remoto.
            </p>
            <p>
                Se desideri metterti in contatto con me per opportunità lavorative, collaborazioni o semplicemente per discutere di progetti, scrivimi!
            </p>
            <p>
                Se sei interessato a discutere di un progetto web, sono disponibile anche per consulenze e collaborazioni freelance. Non esitare a contattarmi per qualsiasi informazione o proposta.
            </p>
            <ul style="list-style-type: none;">
                <li><strong>Email:</strong> <a href="mailto:massimiliano@example.com">massimiliano&#64;example.com</a></li>
                <li><strong>Telefono:</strong> +39 123 456 7890</li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/massimiliano" target="_blank">linkedin.com/in/massimiliano</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/massimiliano" target="_blank">github.com/massimiliano</a></li>
            </ul>
            
        </section>
    </div>
</div>